.slick-prev:before,
.slick-next:before,
.slick-dots li button:before {
	font-family: inherit !important;
}

.slick-prev:before {
	content: "‹" !important;
}

.slick-next:before {
	content: "›" !important;
}

.slick-dots li button:before {
	content: "•" !important;
}

